<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Get started</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="blocks/header"/>

<div th:each="pro:${developerCompany}">

    <form
          method="post"
          th:object="${developerCompany}">

        <input th:value="${pro.getDevName()}"
               th:field="*{devName}"
               type="text"
               name="devName"
               placeholder="Название"/>


        <div style="color: red"
        th:if="*{#fields.hasErrors('devName')}"
        th:errors="*{devName}">
        </div>


        <button class="btn btn-warning" type="submit">Подтвердить</button>
    </form>
</div>
</body>
</html>