<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Get started</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="blocks/header"/>


<div th:each="pro:${filmGenre}">

    <form
            method="post"
            th:object="${filmGenre}">

        <input th:value="${pro.getGenreName()}"
               th:field="*{genreName}"
               type="text"
               name="devName"
               placeholder="Название"/>


        <div style="color: red"
             th:if="*{#fields.hasErrors('genreName')}"
             th:errors="*{genreName}">
        </div>


        <button class="btn btn-warning" type="submit">Подтвердить</button>
    </form>
</div>



</body>
</html>