<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Get started</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>


<header th:insert="blocks/header"/>
<h3>Поиск</h3>
<form method="post" th:action="${'/games/search/result'}">
    <input type="text" name="gameName">
    <button class="btn btn-warning" type="submit">Найти</button>
    <div th:each="re:${result}">
        <h3 th:text="${re.gameName}"></h3>
        <a th:href="'/games/'+${re.id}">Подробнее</a>

    </div>

</form>
</body>
</html>