<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Get started</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="blocks/header"/>

<h3>Жанры игр</h3>
<a href="/games/genre/search">Поиск</a>
<a href="/games/genre/add">Добавить</a>

<table>
    <th>Название</th>
    <tr th:each="gg:${gameGenre}">
        <td th:text="${gg.genreName}"></td>
        <td>
            <form th:action="'/games/genre/'+${gg.id}">
                <button class="btn btn-warning" th:href="'/games/genre/'+${gg.id}">Подробнее</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>